.nav-login {
    padding: 18px 48px;
}
.login-wrapper {   
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin-top: 50px;
    }
    .login {
        width: 40%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #446D6D;
        border-radius: 25px;
        h1 {
            font-size: 64px;
            color: #446D6D;
        }
        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
            margin-top: -40px;
            input {
                width: 70%;
                height: 55px;
                background-color: #CEE5EC;
                border-radius: 20px;
                border: none;
                padding: 0px 36px;
                font-size: 18px;
                
            }
            input::placeholder {
                font-size: 18px;
                color: #787878;
            }
            .btn-login {
                width: 70%;
                height: 55px;
                border-radius: 20px;
                border: none;
                padding: 0px 36px;
                background-color: #446D6D;
                color: white;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .nav-login {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .login-wrapper {
        width: 100%;
        .login {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .login-wrapper {
        width: 100%;
        .login {
            width: 60%;
            h1 {
                font-size: 64px;
                color: #446D6D;
            }
            form {
                width: 100%;
                height: 100%;
                input {
                    width: 70%;
                    height: 55px;
                    font-size: 14px;
                    
                }
                input::placeholder {
                    font-size: 14px;
                    color: #787878;
                }
                .btn-login {
                    width: 70%;
                    height: 55px;
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .login-wrapper {
        width: 100%;
        .login {
            width: 80%;
            h1 {
                font-size: 64px;
                color: #446D6D;
            }
            form {
                width: 100%;
                height: 100%;
                input {
                    width: 80%;
                    height: 55px;
                    font-size: 14px;
                    
                }
                input::placeholder {
                    font-size: 14px;
                    color: #787878;
                }
                .btn-login {
                    width: 80%;
                    height: 55px;
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .login-wrapper {
        width: 100%;
        .login {
            width: 90%;
            h1 {
                font-size: 48px;
                color: #446D6D;
            }
            form {
                width: 100%;
                height: 100%;
                input {
                    width: 80%;
                    height: 55px;
                    font-size: 14px;
                    
                }
                input::placeholder {
                    font-size: 14px;
                    color: #787878;
                }
                .btn-login {
                    width: 80%;
                    height: 55px;
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }
}