.App-header {
  display: flex;
  gap: 80px;
  .menu {
    position: relative;
    padding: 6px 18px 8px;
    border-radius: 7px;
    &:hover {
        background-color: #FFDDDD;
    }
    span {
        color: black;
        font-weight: 700;
        font-size: 18px;
    }
  }
}

.dropdown-list {
  width: 200px;
  background: #FFDDDD;
  transition: all linear 0.3s;
  position: absolute;
  margin-top: 10px;
  margin-left: -15px;
  ul {
    list-style: none;
    padding: unset;
    margin: unset;
    li {
      transition: all linear 0.3s;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 18px;
      &:hover {
        background: #C1C1C1;
        cursor: pointer;
        color: #fff;
      }
    }
  }
}

.account-dropdown {
  button {
    margin-left: -5px;
    padding: 5px 10px;
    // border: none;
    background: #FFDDDD;
    font-size: 16px;
    font-weight: 700;    
    
  }
}